<div class="row">
    <div class="col-md-3" style="background-color: #303030; height:93vh;">
        <mat-card class="mt-3" >
            <mat-form-field appearance="outline">
                <mat-label>Todo</mat-label>
                <input matInput placeholder="Enter a task">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <!-- <mat-hint>Type a task</mat-hint> -->
            </mat-form-field>
        </mat-card>
    </div>
    <div class="col-md-9">

    </div>
</div>