.mat-navbar {
    justify-content: space-between;

    span {
        padding-right: 1rem;
    }
}

mat-sidenav-container {
    height: 100vh;

    mat-sidenav,
    mat-sidenav-content {
        padding: 16px;
    }

    mat-sidenav {
        width     : 200px;
        background: dodgerblue;
    }
}

.center {
    margin: 10rem;
}

mat-grid-tile {
    background: lightblue;
}

table {
    width: 100%;
}

.m-4 {
    margin: 4px;
}