<!-- <h1>Hello</h1> -->
<!-- <button mat-raised-button>Send</button> -->
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">this is mat-headline h1</div>
<div class="mat-title">this is mat-title h2</div>
<div class="mat-subheading-2">this is mat-subheading-2 h3</div>
<div class="mat-subheading-1">this is mat-subheading-1 h4</div>

<div class="mat-body-1">this is mat-body-1</div>
<div class="mat-body-2">this is mat-body-2</div>
<div class="mat-caption">this is mat-caption</div>

<div class="mat-typography">
  <h1>this is h1</h1>
  <h2>this is h2</h2>
  <h3>this is h3</h3>
  <h4>this is h4</h4>
</div>