<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand d-flex align-item-center">
            <i style="font-size: 2rem;" class="fa fa-shopping-bag">
            </i>
            &nbsp;
            <strong>Flipkart</strong>
            <div class="form-group">
                <input type="text" class="form-control mx-4" placeholder="search products" >
                <i class="fa fa-search search-icon"></i>
            </div>
        </div>
        <div style="cursor: pointer" >
            <i style="font-size: 3rem;" class="fa fa-cart-plus" ></i>
            <div class="badge bg-danger">5</div>
        </div>
    </div>
    <app-products></app-products>
</header>