<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand d-flex align-item-center">
            <i style="font-size: 2rem;" class="fa fa-shopping-bag">
            </i>
            &nbsp;
            <strong>Flipkart</strong>
            <div class="form-group">
                <input type="text" class="form-control mx-4" 
                [(ngModel)]="searchTerm"
                (keyup)="onSearch($event)"
                placeholder="search products" >
                <i class="fa fa-search search-icon"></i>
            </div>
        </div>
        <div style="cursor: pointer"  routerLink="/cart">
            <i style="font-size: 3rem;" class="fa fa-cart-plus" ></i>
            <div class="badge bg-danger"> {{totalItem}} </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>