<!-- <p>google-start works!</p> -->
<div id="googleStart">
    <header>
        <div class="menu">
            <p>
                <a href="gmail.com">Gmail</a>
            </p>
            <p> <a href="#">Images</a> </p>
            <p>
                <mat-icon>apps</mat-icon>
            </p>
            <p>
                <img class="avatar"
                    src="https://images.unsplash.com/photo-1664710696502-69589bfc2ef6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                    width="40" height="40" />
            </p>
        </div>
    </header>
    
    <div class="search-area">
        <img src="assets/images/google-logo.png" width="300" height="100" />
        <p class="search-content">
            <mat-icon>search</mat-icon>
            <input class="search-input" type="text" maxlength="2048" />
            <mat-icon>mic</mat-icon>
        </p>
    
        <div class="buttons">
            <button>Google Search</button>
            <button>I'm Feeling Lucky</button>
        </div>
        <div class="msg">
            Google offered in: 
            <a href="#">हिन्दी</a> 
            <a href="#">বাংলা</a>
            <a href="#">తెలుగు</a>
            <a href="#">मराठी</a>
            <a href="#">தமிழ்</a>
            <a href="#">ગુજરાતી</a>
            <a href="">ಕನ್ನಡ</a>
            <a href="">മലയാളം</a>
            <a href="">ਪੰਜਾਬੀ</a>
        </div>
    </div>

    <footer>
        <div class="country">India</div>
        <div class="help-links">
            <div class="left">
                <a href="#">About</a>
                <a href="#">Advertising</a>
                <a href="#">Business</a>
                <a href="#">How Search works</a>
            </div>
            <div class="right">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Settings</a>
            </div>
        </div>
    </footer>
</div>