<header>
    <nav>
        <div class="logo">
            <h1>mera bharat</h1>
        </div>
        <div class="menu">
            <a href="">Home</a>
            <a href="">Gallery</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </nav>
    <main>
        <section>
            <h3>Welcome to India</h3>
            <h1>DO COME & VISIT <span></span> </h1>
            <p>"India once is not enough"</p>
            <a href="#">learn more</a>
            <a href="#">signup here</a>
        </section>
    </main>
</header>
