<header>
    <nav>
        <div class="logo animate__animated animate__heartBeat animate__infinite">
            <h1>mera bharat</h1>
        </div>
        <div class="menu">
            <a href="">Home</a>
            <a href="">Gallery</a>
            <a href="">About</a>
            <a href="">Contact</a>
        </div>
    </nav>
    <main>
        <section>
            <h3>Welcome to India</h3>
            <h1>DO COME & VISIT <span class="change-content"></span> </h1>
            <p>"India once is not enough"</p>
            <a class="btn1" href="#">learn more</a>
            <a class="btn2" href="#">signup here</a>
        </section>
    </main>
</header>
