<div class="row">
    <div class="col-xs-12">
        <!-- <button class="btn btn-success" routerLink="new" >New Recipe</button> -->
        <button class="btn btn-success" (click)="onNewRecipe()" >New Recipe</button>
    </div>
</div>
<hr>
<input class="form-control" type="text" [(ngModel)]="recipeName"  placeholder="type a recipe name" >
<br>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item
            *ngFor="let recipeItem of recipes | nameFilter: recipeName; let i = index"
            [recipe]="recipeItem"
            [index]="i"
        ></app-recipe-item>
    </div>
</div>