<div class="container">
    <div class="header">
        <input type="text" class="form-control search-input" placeholder="Search contact"  [(ngModel)]="filterBy" >
        <button class="btn btn-success mx-4" routerLink="../new" >
            <i class="fa fa-plus-circle"></i> New
        </button>
    </div>
    <div class="contacts-list mt-4">
        <div class="contact-card" *ngFor="let contact of contactList | filter: filterBy:'name'" >
            <div class="contact-image">
                <img [src]="contact.photo" height="200" 
                width="200" >
            </div>
            <div class="contact-details">
                <p class="text-contaniner" 
                [innerHtml]="contact.name | highlight:filterBy:'partial'">{{contact.name}}</p>
                <p>{{contact.email}}</p>
                <p>{{contact.mobile}}</p>
            </div>
            <div class="contact-operations">
                <i class="fa fa-eye" routerLink="{{'../'+contact.id}}"></i>
                <i class="fa fa-pencil" routerLink="{{'../'+contact.id}}/edit"></i>
                <i class="fa fa-trash" (click)="onDeleteContact(contact.id)" ></i>
            </div>
        </div>
    </div>
</div>